################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/anokiwave-gui/ladybug_code/ladybugTestGrab/.vs/ladybugTestGrab/v16/Browse.VC.db
